.maindiv{
    
    width: 1350px;
    height: 700px;
    display: flex;
    justify-content: center;
   
   
}
.subdiv{
    border: 1px solid rgb(172, 166, 166);
    width: 800px;
    height: 590px;
    margin-top: 30px;
    border-radius: 6px;
}
.header{
    
    width: 800px;
    height: 60px;

}
.bottomheader{
    
    width: 800px;
    height: 60px;
    
}
.account{
font-family: Arial, Helvetica, sans-serif; 
font-weight: 100px;
}
.parentdiv{
   
    width: 800px;
    height: 450px;
    display: flex;
}
.leftsection{
    
    width: 430px;
    height: 450px; 
   
}
.rightsection{
    
    width: 370px;
    height:450px ;
    
}
.footer{
    
    width: 800px;
    height: 75px;
    display: flex;
    justify-content: space-between;
}
.leftpart{
    
    width: 152px;
    height: 18px;
    margin: 30px;
}
.rightpart{
   
    width: 70px;
    height: 20px;
    margin: 30px;
}
.google{
    margin: 10px;
}
.name{
    margin: 20px;
   
}
.email{
    margin:20px ;
    margin-top: 30px;
}
.usernamebottom{
    color: #5f6368;
    
  
}
.blueline{
    margin: 20px;
}
.bluelinebutton{
    color: #1a73e8;
    margin-top: 20px;
    
}
.password{
    margin: 20px;
    margin-top: 30px;

}
.passwordbottom{
    color: #5f6368;
}
.checkbox{
    margin: 20px;
}
.bottomline{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.nextbutton{
    width: 70px;
    height: 30px;
    background-color: #1a73e8;
    color: aliceblue;
}
.image{
 
    width: 280px;
    height:240px;
    margin: 40px;
    margin-top: 50px;
    margin-left: 65px;
}
.bottomimage{
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gimage{
    margin-left: 5px;
}
